<!DOCTYPE html>
<html>
  <head>
    <title>StackoverflowClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <h1><%= session[:user_id] %></h1> 
    <%= link_to "Sign Out", '/logout', data: {confirm: "Do your parents know you're signing out?", method: :delete} %>
    <%= yield %>
  </body>
</html>
